# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

#### 1. What test is appropriate for this problem? Does CLT apply?

In [7]:
call_data = data[['race', 'call']]
call_data_white = call_data[call_data.race == 'w']
call_data_black = call_data[call_data.race == 'b']

call_data_white.head()
len(call_data_white)
call_data_black.head()
len(call_data_black)

  race  call
0    w   0.0
1    w   0.0
4    w   0.0
5    w   0.0
6    w   0.0

2435

  race  call
2    b   0.0
3    b   0.0
7    b   0.0
8    b   0.0
9    b   0.0

2435

In [8]:
p_w = len(call_data_white[call_data_white.call == 1]) / len(call_data_white)
p_b = len(call_data_black[call_data_black.call == 1]) / len(call_data_black)

p_w
p_b

0.09650924024640657

0.06447638603696099

$np \ge 10$

$n(1-p) \ge 10$

In [9]:
len(call_data_white) * p_w
len(call_data_white) * (1 - p_w)
len(call_data_black) * p_b
len(call_data_black) * (1 - p_b)

235.0

2200.0

157.0

2278.0

Yes, the CLT applies.

#### 2. What are the null and alternative hypotheses?

The null hypothesis is that race has no impact on whether or not an applicant is called back. The alternative hypothesis is that it does have an impact.

$H_0 : p_b = p_w$

$H_1 : p_b \ne p_w$

#### 3. Compute margin of error, confidence interval, and p-value

In [13]:
z = 1.96
me = z * np.sqrt(p_w * (1 - p_w) / len(call_data_white) + p_b * (1 - p_b) / len(call_data_black))
me

0.015255406349886438

In [14]:
(p_w - p_b - z * me, p_w - p_b + z * me)

(0.0021322577636681654, 0.061933450655223002)

In [21]:
from statsmodels.stats.proportion import proportions_ztest as pz
white_call = len(call_data_white[call_data_white.call == 1])
black_call = len(call_data_black[call_data_black.call == 1])

pz(np.array([white_call, black_call]), np.array([len(call_data_white), len(call_data_black)]), value=0)

(4.1084121524343464, 3.9838868375850767e-05)

With a very small p-value, I would reject the null hypothesis.

#### 4. Write a story describing the statistical significance in the context or the original problem.

Since I rejected the null hypothesis, race does play a role on the rate in which applicants are called back.